.score-board-area {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 70%;
}

.score-board {
  background-color: white;
  border: 5px solid #d13239;
  box-shadow: 0px 1px 1px 1px #c5c5c5;
  margin-top: 25px;
  width: 100%;
}

.name {
  border: 1px solid black;
  font-size: 24px;
  font-weight: 700;
}

.player-name {
  border: 1px solid black;
  font-size: 28px;
}

.player-score {
  border: 1px solid red;
}

.frames {
  background-color: #9abced;
  border-radius: 25px;
  font-weight: 800;
  height: 45px;
  padding: 3px;
  width: 45px;
}

.totals {
  border: 1px solid black;
  font-size: 24px;
  font-weight: 700;
}

.player-total {
  border: 1px solid black;
  font-size: 28px;
}

.frame-score {
  padding: 0px 5px;
}


