.bowling-area {
  align-items: center;
  background-color: #FFFBF7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.bowling-score-area {
  align-items: flex-end;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 80%;
}

.input-and-btn-area {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  width: 100%;
}
