.bowling-area {
  align-items: center;
  background-color: #FFFBF7;
  display: flex;
  flex-direction: column;
  margin-top: -9px;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-top: 45px; 
}

.score-btn {
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  height: 50px;
  width: 50px;
  border: none;
  margin: 5px;
  background: #c5646a;
}

.message {
  color: #1b182d;
  font-size: 28px;
}
