.App {
  text-align: center;
}


.App-header {
  align-items: center;
  background-color: #222;
  display: flex;
  height: 124px;
  justify-content: center;
  padding: 20px;
  color: white;
}

.App-title {
  color: #d13239;
  font-family: 'Roboto', sans-serif;;
  font-size: 50px;
  margin: unset;
  padding-top: 7px;

}

